
        
            
        
#section1{
    display: block;
}
#section2{
    display: none;
}
#section3{
    display: none;
}

#btn{
background-color: darkcyan;
border:  4px solid coral;
display: block;
width: 334px;     /*  display, width or margin lagaye toh toh hi center ho payega sara*/
 margin: auto;
font-size: 34px;
height: 100px;

}
img ,h2{
display: block;
width: 334px;     /*  dislay , width or margin lagaye toh toh hi center ho payega sara*/
 margin: auto; 
}
p ,input {
display: block;
width: 334px;     /*   display , width or margin lagaye toh toh hi center ho payega sara*/
 margin: auto;
 font-size: 24px;
 color: darkmagenta;
}
button{
width: 74px;     
 margin: auto;
 display: block;
 background-color: pink;
}
